ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px;
  background-color: white;
  color: white;
  font-size: 2em;
  line-height: 1em;
}

/* li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
} */

.city-btn {
  width: 100%;
}
