ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 25px;
  background-color: white;
  color: white;
  font-size: 2em;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}
