ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px;
  background-color: white;
  color: white;
  font-size: 2em;
  line-height: 1em;
}

.city-btn {
  width: 100%;
}
